{% extends "base.html" %}
{% load static %}
{% block contactmeactive %} active {% endblock contactmeactive %}
{% block body %}
    <!-- navbar end -->
     <div class="container">
               <h2 class = "text-center my-3">Contact Me</h2>
               <form action = "/contactme" method = "post">
                {% csrf_token %}
                <div class="form-group my-2">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="name" class="form-control" id="name" placeholder="Enter name" name = "name">
                  </div>
                <div class="form-group my-2">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email" name = "email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group my-2">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" id="phone" placeholder="Phone" name = "phone">
                </div>
                <div class="form-group my-2">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name = "message" rows="3"></textarea>
                  </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
     </div>
    

    <h1 class = "text-center">This is contactme page!</h1>


    {% endblock body %}
   